$body-background: #ececec;
$alpha-background: rgba(0, 0, 0, .8);
$dark-color: #333;
$semi-dark-color: #666;
$light-color: #fff;
$slider-input-background: #2196F3;
$green: #00A74A;
$red: #9F0F17;
$yellow: #CCA707;
$blue: #094A8F;
$green-light: #32CD32;
$red-light: #FF0000;
$yellow-light: #FFFF00;
$blue-light: #87CEEB;
$count-background: #32050c;
$count-font-color: #5f1721;
$count-font-light-color: #DC0D29;
$panel-font: 'Orbitron', sans-serif;
$base-font: 'Arial', sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($value) {
  -webkit-transition: $value;
     -moz-transition: $value;
      -ms-transition: $value;
          transition: $value;
}

@mixin transform($value) {
  -webkit-transform: translateX($value);
    -moz-transition: translateX($value);
      -ms-transform: translateX($value);
          transform: translateX($value);
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 98%;
}

body {
  font-family: $base-font;
  background-color: $body-background;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 465px;
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark-color;
  @include transition(0.4s);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $light-color;
  @include transition(0.4s);
}

input:checked+.slider {
  background-color: $slider-input-background;
}

input:focus+.slider {
  box-shadow: 0 0 1px $slider-input-background;
}

input:checked+.slider:before {
  @include transform(26px);
}

.slider.round {
  @include border-radius(34px);
}

.slider.round:before {
  @include border-radius(50%);
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 440px;
  height: 440px;
  padding: 10px;
  background-color: $dark-color;
  @include border-radius(50%);
}

.green {
  fill: $green;
}

.red {
  fill: $red;
}

.yellow {
  fill: $yellow;
}

.blue {
  fill: $blue;
}

.green-light {
  fill: $green-light;
}

.red-light {
  fill: $red-light;
}

.yellow-light {
  fill: $yellow-light;
}

.blue-light {
  fill: $blue-light;
}

svg {
  margin: 5px;
}

svg > path {
  cursor: pointer;
}

.remove-pointer {
  cursor: default;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 125px;
  width: 190px;
  height: 190px;
  background-color: $light-color;
  @include border-radius(50%);
}

.logo {
  font: {
    family: $base-font;
    size: 30px;
    weight: bold;
  }
  color: $dark-color;
  margin: 0;

  p {
      margin: 0;
  }
  span {
    font-size: 16px;
    vertical-align: super;
  }
}

.panel-set {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-around;
  width: 80%;
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start,
.strict  {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;

  button {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 3px solid $dark-color;
    margin-bottom: 8px;
    cursor: pointer;
    @include border-radius(50%);
  }
}

.start  {
  button {
    background-color: $red-light;
  }
}

.strict  {
  button {
    background-color: $yellow-light;
  }
}

.count > p,
.start > p,
.strict > p {
  margin: 10px 0 0;
  font-size: 11px;
  text-transform: uppercase;
}

.count-panel {
  font: {
    size: 22px;
    family: $panel-font;
  }
  background-color: $count-background;
  color: $count-font-color;
  height: 40px;
  width: 60px;
  border: 2px solid $dark-color;
  line-height: 44px;
  text-align: center;
  @include border-radius(10px);

  p {
    margin-top: 0;
    line-height: 40px;
  }
}

.game-on {
  color: $count-font-light-color;
}

.switch-panel {
  margin-top: 10px;
}

.strict-display {
  width: 12px;
  height: 12px;
  background-color: $semi-dark-color;
  border: 2px solid $dark-color;
  margin-bottom: 3px;
  @include border-radius(50%);
}

.strict-on {
  background-color: $red-light;
}

.win-message {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 1000;
  top: 68px;
  text-align: center;
  vertical-align: middle;
  line-height: 240px;
  background-color: $alpha-background;
  color: $light-color;
  font-size: 32px;
  @include border-radius(50%);
}
